@import "./foundation/global";
@import "./foundation/mixin";

.container {
    @include layout2;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;

    @media only screen and (min-width: 1440px) and (max-width: 1920px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .wrapper-search {
        display: flex;
        align-items: center;

        input {
            margin-left: 14px;
            color: $color6;
            border: none;
            background-color: transparent;

            &::placeholder {
                color: $color7;
            }
        }
    }

    img.logo {
        display: block;

        @media only screen and (min-width: 0px) and (max-width: 1023px) {
            display: none;
        }
    }

    img.profile {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: block;

        @media only screen and (min-width: 0px) and (max-width: 1023px) {
            display: none;
        }
    }

    a.button-daftar {
        display: none;

        @media only screen and (min-width: 0px) and (max-width: 1023px) {
            display: block;
            text-align: center;
            padding: 8px 16px 8px 16px;
            text-decoration: none;
            background-color: $backgroundColor2;
            border-radius: 5px;
            color: $color6;
        }
    }
}